@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadProRegular;
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff");
}

@font-face {
  font-family: MyriadProBold;
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff");
}
