$main-bg-color: #fffffd;

$color-blue: #2d96cc;
$color-lightblue: #3abde4;
$button-color: linear-gradient($color-blue, $color-lightblue);

$text-color-darkgray: #3b3944;
$text-color-darkblue: #4b69b0;
$text-color-orange: #f56856;
